.add {
  margin-top: 25px;
}

input {
  margin-left: 5px;
}

.content {

  margin-top:25px;
  
}

.inner {
  margin-top: 25px;
  border: 2px solid #000;  
  height: 500px;
}

.inner > input {
  margin-top: 10px;
  margin-left: 25px;
}

.inner > button {
  margin-top: 10px;
  margin-left: 25px;
}